@model MyAcademyCarBook.EntityLayer.Concrete.CarStatus
@{
    ViewData["Title"] = "CreateCarStatus";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Araç Durumu Ekleme</h1>


<form method="post">
    <label> Araç Durum Başlığı</label>
    <input type="text" asp-for="CarStatusName" class="form-control" style="border:1px solid #2222" />
    <br />
    <button class="btn btn-primary">Durum Ekle</button>

</form>